# EditorConfig is awesome: https://EditorConfig.org

# is this the top,because there are many editorconfig in diffrent folder
# such as there is a .editconfig in css folder
# and there is a .editorconfig in js folder in the same time
# the working way of editorconfig is that: it will find the .editorconfig file Layer by layer
# when it find another .editorconfig, they will merge in one together
# so the root equal true that is tell the config ,do not find to higher layer  again ,this is the top
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
charset = utf-8

# 2 space indentation
indent_style = space
indent_size = 2

end_of_line = lf
insert_final_newline =true
trim_trailing_whitespace =true

[*.json]
indent_size = 4
